<ion-content [fullscreen]="true">
  <ion-grid class="grid_boss">
    <ion-row>
      <ion-col></ion-col>
      <ion-col> <img class="boss_img" src="../../assets/boss.gif"> </ion-col>
      <ion-col> <img class="btn_start" src="../../assets/btn_start.png"> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid_players">
    <ion-row>
      <ion-col> <img src="../../assets/healer.png"> </ion-col>
      <ion-col> <img src="../../assets/healer.png"></ion-col>
      <ion-col> <img src="../../assets/healer.png"> </ion-col>
      <ion-col> <img src="../../assets/healer.png"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
