<ion-content [fullscreen]="true">
  <ion-grid class="grid_boss">
    <ion-row>
      <ion-col> <img class="btn_start" src="../../assets/btn_start.png" *ngIf="user_list[0] === info.user_name" (click)="start()"></ion-col>
      <ion-col> <img class="boss_img" src="../../assets/boss.gif"> </ion-col>
      <ion-col> <img class="btn_start" src="../../assets/btn_start.png" *ngIf="user_list[0] === info.user_name" (click)="start()"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid_players">
    <ion-row>
      <ion-col *ngFor="let user of user_list">
        <ion-button class="attack_button" *ngIf="user === info.user_name" (click)="turn(1)"> ATACAR </ion-button>
        <ion-button class="heal_button" *ngIf="user === info.user_name" (click)="turn(2)"> CURAR </ion-button>
        <img src="../../assets/healer.png">
        {{user}}
        {{game_data.boss?.health}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>