ion-content {
    --background: url('../../assets/fondo.gif') 0 0/100% 100% no-repeat;
}

ion-col {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_players{
    margin-top: 13%;
}

.grid_players img {
  margin-top: 30%;
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

img {
    width: 35%;
}

.btn_start{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn_start:hover {
  transform: scale(1.1);
}

.attack_button{
    --background: red;
}

.heal_button{
    --background: green;
}

.bosshp{
    color: red;
}