<ion-content [fullscreen]="true">
  <ion-grid>
    <h1>ELIGE TU PERSONAJE</h1>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img class="character" src="../../assets/healer.png"></ion-img>
          
          <ion-img class="btn" src="../../assets/btn_healer.png" (click)="selectMago()"></ion-img>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-img class="character" src="../../assets/healer.png"></ion-img>
          <ion-img class="btn" src="../../assets/btn_healer.png" (click)="selectHealer()"></ion-img>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-img class="character" src="../../assets/healer.png"></ion-img>
          <ion-img class="btn" src="../../assets/btn_healer.png" (click)="selectFighter()"></ion-img>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
