<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col class="col_rooms">
                <ion-button class="btn_room" (click)="joinroom(1)">Sala 1</ion-button>
                <ion-button class="btn_room" (click)="joinroom(2)">Sala 2</ion-button>
                <ion-button class="btn_room" (click)="joinroom(3)">Sala 3</ion-button>
                <ion-button class="btn_room" (click)="joinroom(4)">Sala 4</ion-button>
                <ion-button class="btn_room" (click)="joinroom(5)">Sala 5</ion-button>
                <ion-button class="btn_room" (click)="joinroom(6)">Sala 6</ion-button>
                <ion-button class="btn_room" (click)="joinroom(7)">Sala 7</ion-button>
                <ion-button class="btn_room" (click)="joinroom(8)">Sala 8</ion-button>
                <ion-button class="btn_room" (click)="joinroom(8)">Sala 9</ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>