ion-content {
    --background: url('https://i.etsystatic.com/18279207/r/il/0baebc/5022632129/il_fullxfull.5022632129_kwst.jpg') 0 0/100% 100% no-repeat;
}


.segundo{
    margin-top: 10%;
}

.col_rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url('../../assets/fondo_salas.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn_room {
    --background: #754f04;
    color: white;
    width: 125px;
    height: 40px;
    font-size: 14px;
    margin: 6px auto;
    --padding-start: 0;
    --padding-end: 0;
}

.primero{
    height: 10%;
    width: 60%;
}

